@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Sayfa geçişleri için smooth transition */
body {
  transition: background-color 0.3s ease;
}

/* Diğer stiller... */
